= render "index/slides/header"
= render "index/slides/arrows"

.screens.slider
  .slider_children
    = render "index/slides/contacts"
    = render "index/slides/main"
    = render "index/slides/categories"
    = render "index/slides/other_categories"

= render "index/slides/footer"