@import "visual_interfaces_d/blue_interface/core";

.current_file_name {
  font-size: 12px;
  position: relative;
  top: 7px;
}

.delete_specification {
  text-decoration: underline;
  position: relative;
  top: 7px;
  font-size: 12px;
  margin-left: 10px;
  color: red;
  cursor: hand;
}