#d3_card.screen.barrier style="background-image: url(#{@product.image.url});"

  .categories
    ul
      - @categories.each do |category|
        li
          - if (category.alias == @product.category.alias)
            - f = category.products.order(:position).first
            - if f.nil?
              = link_to category.name, "#", class: "active"
            - else
              = link_to category.name, "/catalog/#{f.alias}", class: "active"
          - else
            - f = category.products.order(:position).first
            - if f.nil?
              = link_to category.name, "#"
            - else
              = link_to category.name, "/catalog/#{f.alias}"

  .header
    = @product.name
  - tables = @product.description.split("<table")
  - if tables.count >= 1
    .description
      = tables[0].html_safe

  - if tables.count >= 2
    .info
      .cnt
        = ("<table" + tables[1]).html_safe
  - if tables.count >= 3
    .info#second
      .cnt
        = ("<table" + tables[2]).html_safe


  - if !@product.doc_name.nil?
    = link_to "Скачать спецификацию", "/system/upload/" + @product.doc_name, class: "download_button", target: "_blank"
