#card.screen

  .categories
    ul
      - @categories.each do |category|
        li
          - if (category.alias == @product.category.alias)
            - f = category.products.order(:position).first
            - if f.nil?
              = link_to category.name, "#", class: "active"
            - else
              = link_to category.name, "/catalog/#{f.alias}", class: "active"
          - else
            - f = category.products.order(:position).first
            - if f.nil?
              = link_to category.name, "#"
            - else
              = link_to category.name, "/catalog/#{f.alias}"

  .content
    .image
      = image_tag "#{@product.image.url}"
    .text
      - if @product.doc_name != nil
          = link_to "", "/system/upload/" + @product.doc_name, class: "download_small_button"

      .header
        = @product.name
      .textarea
        = @product.description.html_safe


