.arrows_product

  - prev_record =  @product.category.products.where("position < #{@product.position}").order(:position).last()
  - next_record =  @product.category.products.where("position > #{@product.position}").order(:position).first()
  - if !prev_record.nil?
    = link_to "/catalog/#{prev_record.alias}"
      .left_arrow
  - if !next_record.nil?
    = link_to "/catalog/#{next_record.alias}"
      .right_arrow