= image_tag "down-corner.png", class: "left-bottom-corner"

footer

  ul
    li.copyright
      | © 2015 ООО КБ "Электромаш"
    - if !@product.nil?
      li.screen_pagination
        .pagination
          - @product.category.products.order(:position).each do |pro|
            - if pro.alias != @product.alias
              = link_to "", "/catalog/#{pro.alias}", class: "paginate_item"
            - else
              = link_to "", "/catalog/#{pro.alias}", class: "paginate_item active"
    li.mail
      = link_to "", "http://arcsis.ru/", class: "studio_logo", target: "_blank"
      = link_to "info@kb-elektromash.ru", "mailto:info@kb-elektromash.ru", class: "mail"