= image_tag "top-corner.png", class: "right-top-corner"

header
  nav
    ul
      li
        .contact
          span.code
            .sota_icon
            = link_to "3412", "tel:+7 (3412) 247-040"
          = link_to "247-040", "tel:+7 (3412) 247-040", class: "phone"
      li
        = link_to "О нас", root_url + "#contacts", class: "item about_us_link"
      li
        = link_to root_url + "#main"
          = image_tag "header-logo.png", class: "logo main_link"
      li
        = link_to "Каталог", root_url + "#kb_categories", class: "item catalog_link"
      li
        = link_to "Прайс лист", "/download_price", class: "item"
