= render "catalog/header"
= render "catalog/arrows"

.screens
  - if @product.product_type.alias == "3D"
    = render "catalog/specials/"+@alias
  - else
    = render "catalog/specials/card"

= render "catalog/footer"