= form_for @item do |f|
  = render_form(f, @fields).html_safe


  .field.file_field
    label
      | Спецификация
    = f.file_field :doc
    - if !@item.doc_name.nil?
      span.current_file_name
        = "Текущая спецификация: " + @item.doc_name
      span.delete_specification
        | Удалить файл
    = hidden_field_tag "delete_specification", 0
  = f.submit t('labels.buttons.save'), class: "btn blue_btn"