/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import "visual_interfaces_d/blue_interface/core";
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);

.carousel-feature {
    overflow: hidden;
}
.tort img {
    position: absolute;
    top: -1000px;
}
.tort img iframe {
    width: 100%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  min-width: 1024px;
  min-height: 768px;
  overflow: hidden;
}

.right-top-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  z-index: 90;
}

.left-bottom-corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: auto;
  z-index: 90;
}

.electroprivod {
  .description {
    left: 25% !important;
    bottom: 30% !important;
    width: 250px !important;
  }
}

.barrier {
  .description {
    width: 300px !important;
    left: 25% !important;
    bottom: 15% !important;
  }
  .info {
    width: 360px !important;
    bottom: 30% !important;
    left: 32% !important;
  }
  .info table {
    top: -100px !important;
    left: -320px !important;
  }
  .info#second table {
    left: -400px !important;
    top: -220px !important;
  }
  .info#second {
    left: 65% !important;
  }
}
.electroprivod {
  .info#first {
    table {
      left: -390px !important;
    }
  }
  .info#second {
    bottom: 40% !important;
    left: 65% !important;
    table {
      top: -190px !important;
      left: 90px !important;
    }
  }
}

.arrows, .arrows_product {
  height: 109px;
  width: 100%;
  top: 50%;
  margin-top: -54.5px;
  position: absolute;
  z-index: 100;
  .left_arrow, .right_arrow {
    width: 47px;
    height: 109px;
    position: absolute;
    top: 0;
    cursor: hand;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .left_arrow {
    left: 30px;
    background: url(../images/left-arrow-icon.png) no-repeat;
  }
  .right_arrow {
    right: 30px;
    background: url(../images/right-arrow-icon.png) no-repeat;
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  nav {
    width: 100%;
    ul {
      padding: 0 20px 0 20px;
      margin: 0;
      list-style: none;
      @extend %clearfix;
      li {
        width: 20%;
        height: 1px;
        padding: 50px 0 0 0;
        float: left;
        text-align: center;
        a.item {
          text-decoration: none;
          text-transform: uppercase;
          color: $color_4;
          font-size: 18px;
          cursor: hand;
          position: relative;
          top: 4px;
          transition: 1s all;
          &:hover, &.active {
            color: $color_2;
            transition: 1s all;
          }
        }
        .logo {
          padding: 30px;
          box-sizing: border-box;
          width: 50%;
          height: auto;
          margin: -55px auto;
          min-width: 175px;
          cursor: hand;
        }
        .contact {
          color: $color_1;
          font-size: 22px;
          .code {
            position: relative;
            .sota_icon {
              z-index: -1;
              position: absolute;
              top: -24px;
              left: -19px;
              width: 80px;
              height: 80px;
              background: url(../images/mnogo.png) no-repeat;
            }
            a {
              color: $color_2;
              text-decoration: none;
            }
            margin-right: 30px;
            color: $color_2;
          }
          .phone {
            text-decoration: none;
            text-transform: uppercase;
            color: $color_1;
            cursor: hand;
          }
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 25px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    @extend %clearfix;
    li {
      width: 33.33333333333333%;
      padding: 0 0 20px 0;
      float: left;
      text-align: center;
      &.copyright {
        text-transform: uppercase;
        color: $color_3;
      }
      &.mail {
        text-transform: uppercase;
        a {
          text-decoration: none;
          border-bottom: 1px dashed $border_color_2;
          color: $color_3;
        }
      }
      &.screen_pagination {
        .pagination {
          .paginate_item {
            display: inline-block;
            width: 17px;
            height: 15px;
            background: url(../images/paginate_item.png) no-repeat;
            margin: 0 5px 0 5px;
            cursor: hand;
            &.active {
              width: 23px;
              height: 21px;
              position: relative;
              top: 3px;
              background: url(../images/active_paginate_item.png) no-repeat;
            }
          }
        }
      }
    }
  }
}


.screens {

  @extend %clearfix;

  .screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  #card {

    .categories {
      position: absolute;
      top: 25%;
      width: 100%;
      padding: 0 10% 0 10%;
      box-sizing: border-box;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        @extend %clearfix;
        text-align: center;
        li {
          display: inline-block;
          padding: 0 0.5% 0 0.5%;
          margin: 0 0 15px 0;
          box-sizing: border-box;
          a {
            padding: 10px;
            width: 100%;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            color: $color_3;
            font-size: 16px;
            &.active {
              color: $color_2;
              background-color: $bg_color_4;
              @include box_shadow(0px, 1px, 2px, 0, $bg_color_3);
            }
          }
        }
      }
    }

    .content {
      position: absolute;
      width: 80%;
      left: 10%;
      z-index: 1000;
      @extend %clearfix;
      top: 35%;
      .image {
        width: 35%;
        float: left;
        img {
          width: 90%; /*400px;*/
          display: block;
          height: auto;
          margin: 0 auto;
        }
      }
      .text {
        width: 65%;
        position: relative;
        float: left;
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 45vh;
        .download {

        }
        .header {
          padding-right: 20%;
          box-sizing: border-box;
          font-size: 30px;
          padding-bottom: 20px;
        }
        .textarea {
          font-size: 16px;
          font-family: "Open Sans", "sans-serif";
          font-weight: normal;
          padding-right: 15px;
          box-sizing: border-box;
        }
      }
    }

  }

  #d3_card {

    .categories {
      position: absolute;
      top: 25%;
      width: 100%;
      padding: 0 10% 0 10%;
      box-sizing: border-box;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        @extend %clearfix;
        li {
          display: inline-block;
          padding: 0 0.5% 0 0.5%;
          margin: 0 0 15px 0;
          box-sizing: border-box;
          a {
            padding: 10px;
            width: 100%;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            color: $color_3;
            font-size: 16px;
            &.active {
              color: $color_2;
              background-color: $bg_color_4;
              @include box_shadow(0px, 1px, 2px, 0, $bg_color_3);
            }
          }
        }
      }
    }

    .header {
      width: 700px;
      top: 32%;
      position: absolute;
      left: 50%;
      margin-left: -350px;
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      color: $color_1;
    }

    .description {
      width: 400px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      font-weight: normal;
      position: absolute;
      bottom: 35%;
      left: 50%;
      margin-left: -200px;
      font-family: "Open Sans";
      font-size: 13px;
      color: $color_1;
      background-color: $bg_color_4;
      @include box_shadow(0px, 0px, 5px, 0, $bg_color_5);
    }

    .info {
      position: absolute;
      width: 120px;
      height: 120px;
      bottom: 21%;
      left: 32%;
      z-index: 1000;
      box-sizing: border-box;
      table {
        position: absolute;
        display: none;
        font-family: "Open Sans";
        font-size: 13px;
        top: -250px;
        left: -345px;
        width: 350px;
        background: white;
        @include box_shadow(0px, 0px, 5px, 0, $bg_color_5);
        tr:nth-child(even) {
          background: #fafafa;
        }
        td {
          padding: 10px 20px 10px 20px;
        }
        .value {
          text-align: left;
          color: $color_2;
        }
      }
      &:hover {
        table {
          display: block;
        }
      }
    }

  }


  #kb_categories, #sgz_categories {
    .categories {
      position: absolute;
      width: 80%;
      left: 10%;
      box-sizing: border-box;
      top: 215px;
      z-index: 1000;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        @extend %clearfix;
        li.category_item {
          width: 20%;
          padding: 0 0.5% 0 0.5%;
          box-sizing: border-box;
          vertical-align: top;
          display: inline-block;
          .category_description {
            padding: 30px 20px 30px 20px;
            height: 40px;
            background-color: $bg_color_4;
            position: relative;
            @include box_shadow(0px, 1px, 2px, 0, $bg_color_3);
            .top_square {
              width: 20px;
              height: 20px;
              position: absolute;
              border: 1px solid $bg_color_3;
              background: $bg_color_4;
              top: -5px;
              left: 50%;
              /* Rotate */
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
              /* Rotate Origin */
              -webkit-transform-origin: 0 100%;
              -moz-transform-origin: 0 100%;
              -ms-transform-origin: 0 100%;
              -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
            }
            .title {
              text-align: center;
              font-size: 16px;
              color: $color_1;
              text-transform: uppercase;
            }
            .description {
              font-family: "Open Sans", "sans-serif";
              font-size: 14px;
              font-weight: normal;
              color: $color_1;
              text-align: center;
              display: none;
            }
          }
          .products {
            position: relative;
            .top_square {
              width: 20px;
              height: 20px;
              position: absolute;
              background: $bg_color_4;
              border: 1px solid $bg_color_3;
              top: -5px;
              left: 50%;
              z-index: 10;
              /* Rotate */
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
              /* Rotate Origin */
              -webkit-transform-origin: 0 100%;
              -moz-transform-origin: 0 100%;
              -ms-transform-origin: 0 100%;
              -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
            }
            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              li.product_item {
                margin: 8px 0 8px 0;
                background-color: #fafafa;
                position: relative;
                min-height: 60px;
                text-align: left;
                font-size: 12px;
                @include box_shadow(0px, 1px, 2px, 0, $bg_color_3);
                .top_square {
                  top: -10px;
                }
                a {
                  padding: 15px;
                  box-sizing: border-box;
                  position: relative;
                  text-decoration: none;
                  color: $color_1;
                  font-size: 12px;
                  display: block;
                  .image {
                    width: 45px;
                    height: 45px;
                    top: 10px;
                    left: 9px;
                    position: absolute;
                    background-position-x: center;
                    background-position-y: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                  }
                  .name {
                    width: 100%;
                    padding: 0 15px 0 60px;
                    box-sizing: border-box;
                    color: #6a6a6a;//$color_3;
                    text-align: left;
                    font-size: 14px;
                    transition: 1s all;
                    &:hover {
                      color: $color_2;
                      transition: 1s all;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }



  #contacts {
    background-image: url(../images/contact_bg.jpg);
    font-family: "Open Sans", "sans-serif";
    font-weight: normal;
    .labels {
      cursor: hand;
      .main_left {
        position: absolute;
        top: 50%;
        right: 90px;
        margin-top: -93.5px;
      }
    }


    .additional {
      position: absolute;
      bottom: 15%;
      left: 10%;
      padding-left: 15px;
      color: $color_1;
    }

    .address {
      text-transform: uppercase;
      color: $color_5;
      font-size: 20px;
      font-family: "Open Sans Condensed", "sans-serif";
      position: absolute;
      bottom: 56%;
      right: 20%;
      width: 10%;
      text-align: center;
      font-weight: bold;
    }

    #callback {
      margin-left: 5px;
      color: $color_2;
      border-bottom: 1px dashed $border_color_3;
      cursor: hand;
    }

    .description {
      position: absolute;
      top: 30%;
      left: 10%;
      width: 55%;
      font-size: 15px;
      color: $color_1;

      .first_description, .second_description {
        width: 50%;
        padding: 0 15px 0 15px;
        box-sizing: border-box;
        float: left;
      }

      .first_description {
        text-align: right;
        p {
          margin-top: 0;
        }
      }

      .second_description {
        .text {
          p {
            margin-top: 0;
          }
          strong {
            color: $color_2;
            margin: 5px 0 5px 0;
            font-weight: bold;
          }
          ul {
            margin: 0;
            padding: 0 0 0 20px;
            list-style: none;
            li {
              margin-bottom: 5px;
              &:before {
                content: "• ";
                color: $color_2;
                margin-right: 5px;

              }
            }
          }
        }
      }
    }
    .news {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      right: 12%;
      bottom: 12%;
      text-align: right;
      li {
        span.title {
          display: inline-block;
          color: $color_1;
          font-size: 15px;
        }
        span.delimiter {
          display: inline-block;
          width: 5px;
          height: 5px;
          margin: 0 10px 0 10px;
          background-color: $bg_color_2;
          vertical-align: middle;
          @include border_radius(5px, 5px, 5px, 5px);
        }
        span.date {
          display: inline-block;
          color: $color_2;
          font-family: "Open Sans Condensed", "sans-serif";
          font-weight: bold;
          font-size: 17px;
        }
      }
    }
  }

  .labels {
    * {
      z-index: 500;
    }
    .about, .catalog, .products_kb_left, .main, .products_gz_right, .products_gz_left  {
      position: absolute;
      top: 50%;
      cursor: hand;
    }
    .main {
      left: 90px;
      margin-top: -93.5px;
    }
    .about {
      left: 90px;
      margin-top: -58.5px;
    }
    .products_gz_left {
      left: 90px;
      margin-top: -130.5px;
    }
    .catalog {
      right: 80px;
      margin-top: -90.5px;
    }
    .products_kb_left {
      right: 80px;
      margin-top: -120.5px;
    }
    .products_gz_right {
      right: 80px;
      margin-top: -125px;
    }
  }

  #main {
    .logo_cnt {
      width: 100%;
      height: auto;
      position: absolute;
      top: 28%;
      img {
        width: 60%;
        height: auto;
        margin: 0 auto;
        display: block;
      }
    }
    .description {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 31%;
      text-align: center;

      .line {
        display: table;
        margin: 0 auto;
        padding: 15px;
        color: $color_1;
        font-size: 16px;
        font-weight: normal;
        background-color: $bg_color_1;
        border: 1px solid $border_color_1;
        font-family: 'Open Sans', sans-serif;
        @include box_shadow(0px, 1px, 2px, 0, $bg_color_3);
        width: 410px;
      }

    }
  }


}

.current_file_name {
  font-size: 12px;
  position: relative;
  top: 10px;
}

.download_button {
  position: absolute;
  width: 200px;
  padding: 10px;
  bottom: 10%;
  left: 50%;
  margin-left: -100px;
  color: $color_5;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #076da9;
  text-decoration: none;
  text-align: center;
}

.download_small_button {
  position: absolute;
  top: 10px;
  right: 20%;
  background: url(../images/download.png) no-repeat;
  width: 20px;
  height: 25px;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  .triumph {
    text-align: center;
    margin: 5px 0 5px;
    display: none;
  }
  .close_cross {
    width: 44px;
    height: 44px;
    background: url(../images/close_cross_icon.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: hand;
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(52, 151, 219, 0.5);
    z-index: -1;
  }
  .popup_cnt {
    width: 250px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
    top: 80px;
    .text_field {
      margin: 0 0 15px 0;
      input[type=text] {
        width: 100%;
        padding: 10px;
      }
      .error {
        display: none;
        color: red;
        margin-top: 5px;
        font-size: 12px;
      }
    }
    label {
      color: grey;
    }
    input[type=submit] {
      border: 0;
      background: #076da9;
      color: white;
      padding: 5px 10px 5px 10px;
      display: block;
      margin: 0 auto;
    }
    .text {
      font-size: 18px;
      font-weight: 300;
    }
    .header {
      font-family: "Open Sans Condensed";
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      margin: 10px 0 10px 0;
      text-transform: uppercase;
      color: #076da9
    }
  }
}


.slider {
  overflow: hidden;
  .slider_children {
    width: 10000em;
    margin: 0;
    position: relative;
    .screen {
      float: left;
      position: relative;
    }
  }
}

.akb {
  .description {
    left: 20% !important;
  }
}

.emd {
  .description {
    bottom: 15% !important;
    left: 23% !important;
    width: 380px !important;
    margin-left: -190px !important;
  }
  .info {
    bottom: 32% !important;
    left: 53% !important;
    table {
      top: -270px !important;
      left: 170px !important;
//      width: 500px !important;
      font-size: 13px;
      td, th {
        padding: 5px;
      }
    }
  }

}

.lebedka {
  .description {
    bottom: 25% !important;
    left: 24% !important;
    width: 380px !important;
    margin-left: -190px !important;
  }
  .info {
    bottom: 23% !important;
    left: 48% !important;
    width: 220px !important;
    height: 220px !important;
    table {
      top: -200px !important;
      left: 250px !important;
//      width: 500px !important;
      font-size: 14px;
      td, th {
        padding: 5px;
      }
    }
  }
}

.mobilcisterna {
  .description {
    bottom: 25% !important;
    left: 24% !important;
    width: 300px !important;
  }
  .info {
    bottom: 23% !important;
    left: 48% !important;
    width: 220px !important;
    height: 220px !important;
    table {
      top: -120px !important;
      left: 250px !important;
//      width: 520px !important;
      font-size: 12px;
      td, th {
        padding: 5px;
      }
    }
  }
}

.mobildlinnomer {
  .description {
    bottom: 20% !important;
    left: 20% !important;
    width: 280px !important;
    margin-left: -150px !important;
  }
  .info {
    bottom: 23% !important;
    left: 48% !important;
    width: 220px !important;
    height: 220px !important;
    table {
      top: -260px !important;
      left: 180px !important;
//      width: 520px !important;
      font-size: 12px;
      td, th {
        padding: 5px;
      }
    }
  }
}

.erika {
  .description {
    bottom: 25% !important;
    left: 20% !important;
    width: 350px !important;
  }
  .info {
    bottom: 12% !important;
    left: 32% !important;
    width: 555px !important;
    height: 340px !important;
    table {
      top: 0px !important;
      left: 490px !important;
//      width: 520px !important;
      font-size: 14px;
      td, th {
        padding: 5px;
      }
    }
  }
}

.info {
  .cnt {
    table {
      tr {
        color: #096da8;

        td:first-child {
          color: black;
        }
      }
    }
  }
}

.studio_logo {
  display: block;
  text-decoration: none !important;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 99px;
  height: 20px;
  background: url(http://arcsis.ru/logo/logo-arcsis.png) no-repeat;
  opacity: 0.5;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  border-bottom: 0 !important;
}
