html
  head
    title
      | Builds
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.blue_interface
    = yield
