#d3_card.screen style="display: none;"

  .categories
    ul
      li
        = link_to "Категория 1", "#"
      li
        = link_to "Категория 2", "#", class: "active"
      li
        = link_to "Категория 3", "#"
      li
        = link_to "Категория 4", "#"
      li
        = link_to "Категория 5", "#"

  .description
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .info
    .cnt
      table
        tr
          td
            | Номинальная мощность, Вт
          td.value
            | 450
        tr
          td
            | Напряжение, В
          td.value
            | 220
        tr
          td
            | Номинальный ток, А
          td.value
            | 2
        tr
          td
            | Компенсирующий момент на валу, Н*м
          td.value
            | 18
        tr
          td
            | Диапазон частотывращения, мин-1
          td.value
            | 1,2 - 420
        tr
          td
            | Габаритные размеры, мм
          td.value
            | 112х112х135*
        tr
          td
            | Масса, кг
          td.value
            | 5,6
        tr
          td colspan=2
            | Тип электродвигателя  - синхронный, переменного тока с постоянными магнитами


