#contacts.screen
  .labels
    = image_tag "main_left.png", class: "main_left right_arrow"
  .description
    .first_description
      = Localization.find_by(:alias => "about_us_slide_first_description").value.html_safe
    .second_description
      .text
        = Localization.find_by(:alias => "about_us_slide_second_description").value.html_safe

  ul.news
    - NewsItem.order(:date).each do |news_item|
      li
        span.title
          = news_item.description
        span.delimiter
        span.date
          = news_item.date.strftime("%d.%m.%Y")


  .additional
    | Вы можете
    br
    | получить бесплатную
    br
    | конультацию по продукции
    br
    | и услугам компании, позвонив по телефону,
    br
    | либо просто бесплатно
    span#callback
      | закажите обратный звонок


  .popup#order_popup
    .bg
    .section
      .popup_cnt
        .cnt
          .header
            | Заказать обратный звонок
          = form_tag(ajax_call_back_form_path, :id=>"order_form", :method=>'post', :multipart => true) do
            .text_field
              = text_field_tag "name", nil, :placeholder => "Введите имя"
              .error
                | Поле должно быть заполнено

            .text_field
              = text_field_tag "phone", nil, :placeholder => "Введите телефон"
              .error
                | Поле должно быть заполнено

            .submit
              input class="button blue_button" type="submit" value="Отправить"

        .triumph
          | Ваша заявка успешно отправлена