= image_tag "down-corner.png", class: "left-bottom-corner"


footer
  ul
    li.copyright
      | © 2015 ООО "КБ "Электромаш"
    li.new_screen_pagination
      .pagination
        .paginate_item
        .paginate_item.active
        .paginate_item
    li.mail
      = link_to "", "http://arcsis.ru/", class: "studio_logo", target: "_blank"
      = link_to "info@kb-elektromash.ru", "mailto:info@kb-elektromash.ru", class: "mail"