#main.screen
  .labels
    = image_tag "about.png", class: "about left_arrow"
    = image_tag "products_gz_right.png", class: "products_gz_right right_arrow"

  .logo_cnt
    = image_tag "large-logo.png"
  .description
    .line
      | ООО «Конструкторское Бюро «Электромаш» разрабатывает электроприводную технику, реализует управление различными механизмами, производит силовую электронику