#sgz_categories.screen
  .labels
    = image_tag "products_gz_left.png", class: "products_gz_left left_arrow"

  .categories
    ul
      - @other_category.each do |category|
        li.category_item
          .category_description
            .top_square
            .title
              = category.name
            .description
              = category.description
          .products
            ul
              - category.products.all.order(:position).each do |product|
                li.product_item
                  .top_square
                  = link_to "/catalog/#{product.alias}"
                    - image = product.preview.url
                    .image style="background-image: url(#{image});"
                    .name
                      = product.name